<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.0.0" targetFramework="net4-client" />
  <package id="Microsoft.SqlServer.Scripting" version="11.0.2100.61" targetFramework="net40" />
  <package id="Microsoft.SqlServer.Smo.dll" version="1.0.1" targetFramework="net40" />
  <package id="SlowCheetah" version="2.5.14" targetFramework="net40-Client" />
  <package id="sqlite-net" version="1.0.8" targetFramework="net35" />
  <package id="System.Data.SQLite" version="1.0.98.1" targetFramework="net4-client" />
  <package id="System.Data.SQLite.Core" version="1.0.98.1" targetFramework="net4-client" />
  <package id="System.Data.SQLite.EF6" version="1.0.98.1" targetFramework="net4-client" />
  <package id="System.Data.SQLite.Linq" version="1.0.98.1" targetFramework="net4-client" />
</packages>